.destinations h2{
    display: block;
    margin: auto;
    font-weight: var(--title-weight);
    color: var(--text-primary-color);
    width: 260px;
    line-height: 1.5;
}

.img-tokyo{
    background: url(../img/tokyo-mobile.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 360px;
}

.img-osaka{
    background: url(../img/osaka-mobile.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 360px;
}

.item{
    margin: auto 24px;
}

.item h4{
    margin: 24px 0;
}

.item p{
    margin-bottom: 24px;
}

@media screen and (min-width: 768px){

    .destinations h2{
        width: 100%;
    }

    .img-tokyo{
        background: url(../img/tokyo-tablet.jpg) no-repeat;
        background-size: cover;
        height: 452px;
        width: 100%;
    }

    .img-osaka{
        background: url(../img/osaka-tablet.jpg) no-repeat;
        background-size: cover;
        height: 452px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px){

    .img{
        width: 100%;
        height: 452px;
    }
}

@media screen and (min-width: 1240px){

    .destinations .section-title{
        display: block;
        height: 60px;
        width: 100%;
        margin: 0 auto 64px;
    }

    .destination-items{
        display: flex;
        width: 1250px;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }
}