#footer{
     background-color: var(--background-terciary-color);
    
    justify-content: space-between;
    align-items: flex-start;

    height: 348px;
    width: 100%;

    display: flex;
    flex-direction: column;

    position: relative;
}

.footer-container{
    display: block;
    width: 312px;
    height: 176px;

    text-align: center;
}

.footer-container-2{
    margin: 32px auto;

}

.footer-image{
    background: url(../img/footer-image.jpg) no-repeat;

    width: 100%;
    height: 360px;
}

.footer-logo{
    display: block;
    width: 162px;
    margin: 32px auto 16px;
}

#footer p{
    display: inline-block;
    text-align: center;
    width: 312px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
    line-height: 28px;
    gap: 8px;
}

.contacts{
    text-align: center;
}