#footer{
    background-color: var(--background-terciary-color);
    
    justify-content: space-between;
    align-items: center;

    height: 348px;
    width: 100%;

    display: flex;
    flex-direction: column;

    position: relative;
}

.footer-image{
    background: url(../img/footer-mobile.jpg) no-repeat;

    background-size: cover;

    width: 100%;
    height: 360px;
}

.footer-container{
    display: block;
    width: 312px;
    height: 176px;

    text-align: center;
}

.footer-logo{
    display: block;
    width: 162px;
    margin: 32px auto 16px;
}

#footer p{
    display: inline-block;
    text-align: center;
    width: 312px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
    line-height: 28px;
    gap: 8px;
}


.footer-container-2{
    margin: 32px auto;
    gap: 16px;
}

.contacts{
    text-align: center;
}

@media screen and (min-width: 768px){
#footer{
    justify-content: space-between;
    align-items: center;

    height: 300px;
    width: 100%;

    position: relative;
}

.footer-image{
    background: url(../img/footer-tablet.jpg) no-repeat;

    width: 100%;
    height: 360px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    width: 648px;
    height: 300px;

    text-align: center;
    font-size: 20px;
}

#footer p{
    display: inline-block;
    margin: 0 auto;
    width: 592px;
    line-height: 32px;
}
}

@media screen and (min-width: 1024px){
    #footer{
    justify-content: space-between;
    flex-direction: row;

    height: 232px;
    width: 100%;

    position: relative;
    }

    .footer-image{
    background: url(../img/footer-desktop.jpg) no-repeat;

    width: 100%;
    height: 360px;
}

    .footer-container{
        width: 592px;
        height: 128px;

        text-align: right;

        margin: auto 0px auto 120px;
    }

    .footer-container-2{
        width: 170px;
        height: 80px;

        line-height: 16px;
    }
}