/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-terciary-color: #000000;

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;
}

body{
  font-family: "Montserrat";
}