header{
    background-color: var(--background-terciary-color);

    display: flex; /*faz automaticamente o widht 100% e o height recomendado*/
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

     padding: 38px 48px;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation-menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
}

nav{
    display: none;
}