.image-content{
    display: grid;

    grid-gap: 24px;

    grid-template-columns: 144px 144px;
    grid-template-rows: 254px 182px;
    grid-template-areas:
    "bag passport"
    "people people";

    justify-content: space-evenly;
    align-content: center;

    width: 312px;
    margin: 24px auto 88px;
}

.text-content{
    margin: auto 24px;
}

.bag{
    grid-area: bag;
    background: url(../img/grid-mala.jpg) no-repeat;
    background-size: cover;
}

.passport{
    grid-area: passport;
    background: url(../img/grid-passaporte.jpg);
    background-size: cover;
}

.people{
    grid-area: people;
    background: url(../img/grid-ponte.jpg);
    background-size: cover;
}

@media screen and (min-width: 768px){
    .text-content{
        margin: auto 60px;
    }
    .image-content{
        grid-template-columns: 312px 312px;
        grid-template-rows: 254px 182px;

        width: 648px;
        margin: auto;

        margin: 24px auto;
    }
    .bag{
        background: url(../img/grid-mala-tablet.jpg);
        background-size: cover;
    }
    .passport{
        background: url(../img/grid-passaporte-tablet.jpg);
        background-size: cover;
    }
    .people{
        background: url(../img/grid-ponte-tablet.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 1024px){
    .total-content{
        margin: auto 60px;
    }
}

@media screen and (min-width: 1240px){
    .total-content{
        display: flex;
        flex-direction: row;
        margin: auto 120px;
    }

    .text-content{
        display: block;
        width: 360px;
        height: 220px;
        margin: 0 auto;
    }
    .content-title{
        width: 285px;
    }
    .image-content{
        width: 790px;
        grid-template-columns: 384px 384px;
        grid-template-rows: 254px 182px;
        margin: 0 auto;
    }
}