@import url(global.css);
@import url(header.css);
@import url(hero.css);
@import url(offers.css);
@import url(categoria.css);
@import url(destiny.css);
@import url(payment.css);
@import url(testimonials.css);
@import url(footer.css);

@import url(pacotes.css)