/* CSS RESET */
body, img, h1, p, fieldset, legend, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-primary-color: #ffffff;
    --background-secundary-color: #f5f5f5;
    --background-terciary-color: #0000;

    --button-primary-color: #8F0101;
    --button-secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;
}

@media(max-width: 768px){
    .body{
    background-color: red;
    }
}

@media(max-width: 375px){
    .body{
        background-color: blue;
    }
}